@font-face {
  font-family: 'MetropolisBold';
  src: url('/fonts/Metropolis-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetropolisExtraBold';
  src: url('/fonts/Metropolis-ExtraBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetropolisMedium';
  src: url('/fonts/Metropolis-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetropolisRegular';
  src: url('/fonts/Metropolis-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MetropolisSemiBold';
  src: url('/fonts/Metropolis-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'MetropolisBold', sans-serif!important;
  color: #02324F;
}

p, span, a, li, button {
  font-family: 'MetropolisRegular', sans-serif!important;
}

#preloader-active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.preloader-inner {
  position: relative;
}

.text-center img {
  display: block;
}